.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
 
  gap: 20px; /* 調整卡片間距 */
  }
  
  .card {
    margin: 10% 0; /* 調整卡片間距 */
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #f9f9f9;
   
  }

  p {
    font-size:90px;
  }
  @media screen and (max-width: 1200px){
     /* 當螢幕寬度小於等於768px（手機畫面）時套用以下樣式 */
     .card {
      font-size:30px; /* 手機畫面下的字體大小 */
    }
    p {
      font-size:30px;
    }
}
@media screen and (max-width: 900px){
  /* 當螢幕寬度小於等於768px（手機畫面）時套用以下樣式 */
  .card {
   font-size:80px; /* 手機畫面下的字體大小 */
 }
 p {
  font-size:30px;
}
}