<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="icon" href="{% static 'a2.ico' %}" type="image/x-icon">
    <title>{% block title %} Hello, world!{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
	<script src="{% static 'JS/AI_function.js' %}"></script>
    {% block headparam %}{% endblock %}
    <style>
	body { padding-top: 56px;
           background-image: url("{% static 'images/A1.jpg' %}");
              background-size: cover;
              background-position: center;
         
         }
 div * {
  opacity: 0.9; /* 將這個div中所有子元件的透明度設為50% */
}
    {% block styles %}
	{% endblock %}
    </style>	
    </head>
  <body>
  <nav class="navbar navbar-light bg-light fixed-top">
	  <div class="container-fluid">
		  <a class="navbar-brand" href="/main/">HOME</a>
          <!--  <a class="navbar-brand" href="/curseBook/">咒</a> --!>
		  <a class="navbar-brand" href="/notes/">本子</a>
 		  <a class="navbar-brand" href="/Gi/">...</a>
          
		  <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
			  <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
			  <div class="offcanvas-header">
				  <h5 class="offcanvas-title" id="offcanvasNavbarLabel">WHAt?</h5>
				  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			  </div>
			  <div>
			  <div class="offcanvas-body">
				  <form class="d-flex">
					  <input class="form-control me-2" id="sayWhat" type="search" placeholder="....." aria-label="Search">
					  <button class="btn btn-outline-success"  id="gogo" type="button">>></button>
				  </form>
			  </div>
			  <div class="card">
				  <div class="card-body" id="talks">
				    ........
				  </div>
				</div>
			</div>
		  </div>
	  </nav>

	  {% block content %}

	  {% endblock %}
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
   

  </body>

    <script> 
	$(document).ready(function(){
  $("#gogo").click(function(){
       var  what = $("#sayWhat").val();
       var newData = {'talks':what};
    	$.ajax({
	type:'POST',
	url:'/talking/',
    dataType:'json',
	data:newData,
	success:function(response){
        $("#talks").text(response.response);
        {% block talkreact %}
        {% endblock %}
    },
	error:function(response){}

	});

	$("#sayWhat").val('');
  });

	{% block scripts %}
	{% endblock %}
 


});
    </script>

</html>

