{% extends 'bootest.html'%}
{% block title %} .... {% endblock %}
{% block styles %}
{% endblock %}



{% block content %} 

<div class="container mt-3 mb-3" >
<button type="button" class="btn btn-primary" id="T1">TEfeefST1</button>
<button type="button" class="btn btn-secondary">2</button>
<button type="button" class="btn btn-success">3</button>
<button type="button" class="btn btn-danger">4</button>
<button type="button" class="btn btn-warning" id="T2">Warning</button>    
</div>

 


    
 
{% endblock %}

{% block scripts %}

$("#T1").click(function (){
  alert("OK");
    $.get("http://192.168.0.109/?use=1");
});
 
$("#T2").click(function (){
  alert("OK");
    $.get("http://192.168.0.109/?use=0");
});
 
{% endblock %}
 

