{% extends 'bootest.html'%}
{% block title %} 咒書{% endblock %}
{% block styles %}



.timer {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: conic-gradient(
        red 0% 0%, 
        green 100% 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
transform: translateX(25%);

    }







{% endblock %}



{% block content %} 

<script>
function opercurse(id,text){
    localStorage.setItem('id_buff',id);

    $("#cur").text(text);
}
</script>



<div class="container">
    <div class ="row justify-content-center p-2">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% for curse in curses %}
                    <li class="list-group-item"  onclick="opercurse('{{curse.id}}','{{curse.content}}' )" 
            data-bs-toggle="modal" data-bs-target="#curseModal">
                    <span class="badge bg-warning">咒</span>{{curse.content}}</li>
                    {% endfor %}
                    <li class="list-group-item"> </li>
                    <li class="list-group-item"> </li>
                    <li class="list-group-item"> </li>
                    <li class="list-group-item"> </li>
                    <li class="list-group-item"> </li>
                    <li class="list-group-item"> </li>
                    <li class="list-group-item"> </li>
                    <li class="list-group-item"> </li>
                    <li class="list-group-item"> </li>
                    <li class="list-group-item"> </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!---- modal --->
<div class="modal fade" id="curseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content ">
      <div class="modal-body text-center ">
        <!-- 按鈕和標籤 -->
        <button type="button" id="curseFinish" class="btn btn-success" data-bs-dismiss="modal"data-bs-toggle="modal" data-bs-target="#timeModal">除咒</button>
       <span id="cur"></span>
         <button type="button" id="curseBack" class="btn btn-warning" data-bs-dismiss="modal"data-bs-toggle="modal" data-bs-target="#timeModal">退</button>
      </div>
    </div>
  </div>
</div>






{% endblock %}

{% block scripts %}


$("#curseFinish").click(function(){
    var id = localStorage.getItem("id_buff");
    var curname = $("#cur").text();
    curname = "✔"+curname; 
    const Data = {'id':id,'talks':curname}
    $.ajax({
	type:'POST',
	url:'/talking/',
    dataType:'json',
	data:Data,
	success:function(response){
    navigator.vibrate(1000); // 1 秒振動
        alert(response.response);
        location.reload();
    },
	error:function(response){}
	});
 
});

$("#curseBack").click(function(){
    var id = localStorage.getItem("id_buff");
    var curname = $("#cur").text();
    curname = "}"+curname; 
    const Data = {'id':id,'talks':curname}
    $.ajax({
	type:'POST',
	url:'/talking/',
    dataType:'json',
	data:Data,
	success:function(response){
        alert(response.response);
        location.reload();
    },
	error:function(response){}
	});
 


});
function talksTo(param)
{

console.log(param);
}

{% endblock %}
 

